<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Foreclosure Fools</title>
  </head>

  <body>


    <div class ="searchPanes">Search Panes</div>

    <table id="foreclosuretable" class="display">
        <thead>
            <tr>
                    <th class="table-head">TBD</th>
            </tr>

            <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
        </thead>
    </table>

<!--
    <table border="2">
      <thead>
        <tr>
          {% for col in colnames %}
          <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr>
          {% for col in colnames %}
          <td>{{ record[col] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  -->
  </body>
</html>
