 <!-- Hi TEAM!! -->
 <!-- This is our draft HTML file -->

  <!-- Added leaflet and bootstrap libraries -->
  <!-- Added 5 elements = filter, map, graph1, graph2, table -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Foreclosure Fools</title>

   <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
  <!-- Leaflet CSS & JS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
      integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
      integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
      crossorigin=""
    ></script>

    <script>
        function includeHTML() {
          var z, i, elmnt, file, xhttp;
          /*loop through a collection of all HTML elements:*/
          z = document.getElementsByTagName("*");
          for (i = 0; i < z.length; i++) {
            elmnt = z[i];
            /*search for elements with a certain atrribute:*/
            file = elmnt.getAttribute("w3-include-html");
            if (file) {
              /*make an HTTP request using the attribute value as the file name:*/
              xhttp = new XMLHttpRequest();
              xhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                  if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                  if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                  /*remove the attribute, and call this function once more:*/
                  elmnt.removeAttribute("w3-include-html");
                  includeHTML();
                }
              }      
              xhttp.open("GET", file, true);
              xhttp.send();
              /*exit the function:*/
              return;
            }
          }
        };
        </script>


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />

</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>DMV Foreclosures</h1>
        <p>Use the filters to sort through the foreclosure data</p>
      </div>
    </div>
     <!-- First Row with filter and map -->
     <!-- Filter -->   
    <div class="row">
      <div class="col-md-9">
        <div class="well">
          <h5>SELECT Sample:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Sample MetaData</h3>
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>

    <!-- Map -->
      <div class="col-md-9">
        <div id="map"></div>
      </div>
  </div>

  <!-- Second Row with graph(s) -->
  <div class="row">
    <div class="col-md-6">
      <div id="graph1"></div>
    </div>
    <div class="col-md-6">
      <div id="graph2"></div>
    </div>
  </div>

    <!-- Third Row with table -->
    <div class="row">
      <!--div class="col-md-12">
        <div id="table"></div>
      </div-->
      <div w3-include-html="table.html"></div>
    </div>
    

  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- d3 JS -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- API key -->
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <!-- JS -->
  <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  
  
  <!-- <script type="text/javascript" src="../static/js/app.js"></script>
    <script type="text/javascript" src="./static/js/config.js"></script>
    <script type="text/javascript" src="./static/js/logic.js"></script> -->

    <script>
        includeHTML();
        </script>
</body>

</html>
